@charset "utf-8";
/* CSS Document */

.content{
	width:60%;
	float:left;
	background-color:#fff;
	}
.sidebar{
	width:20%;
	float:left;
	}
.footer{
	clear:both;
	float:none;
	}
#content,#footer,.primary,.secondary{
	padding:3% 5%;
	}
#header,#footer{
	background:#0e212e;
	}
.secondary{
	background:#0FF;
	}
.primary{
	background:#06C;
	}
.wrapper{
	display:flex;
	}	
				