@charset "utf-8";
/* Einfache fließende Medien
   Hinweis: Für fließende Medien müssen Sie die Attribute 'height' und 'width' des Medium aus dem HTML-Code entfernen
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 unterstützt keine maximale Breite, verwenden Sie daher eine Standardbreite von 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver-Eigenschaften für fließende Raster
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		10;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Idee durch den Artikel "Responsive Web Design" von Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	und "Golden Grid System" von Joni Korpi
	http://goldengridsystem.com/
*/

/* Layout für Mobilgeräte: 480 px oder weniger. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausstattung {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#besonderheiten {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#servicw {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav ul {
	padding: 0px;
	margin:  0px
	}
#nav li {
	color: #FFF;
	font-size: 15px;
	display: block;
	list-style-type: none;
	border: 1px #666 solid;
	background-color: #FFF;
	padding-left: 5px;
	margin-bottom: 3px;
	}
#nav a {
	color: #666;
	text-decoration: none;
	}
#nav a:hover {
	color: #aaa;
	}  
#preis_fw1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}  

/* Layout für Tablet-PCs: 481 bis 768 px. Erbt Stile vom: Layout für Mobilgeräte. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 91.14%;
	padding-left: 0.93%;
	padding-right: 0.93%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausstattung {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#besonderheiten {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#servicw {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis_fw1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
/*#nav ul {
	height: 14px;
	}
#nav li {
	display: block;
	list-style-type: none;
	border: 2px #666 solid;
	background-color: #FFF;
	padding-left: 5px;
	margin-bottom: 3px;
	}*/

}

/* Desktoplayout: 815 bis maximal 1232 px.  Erbt Stile von: den Layouts für Mobilgeräte und Tablet-PCs. */

@media only screen and (min-width: 815px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausstattung {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#besonderheiten {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#servicw {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#slide4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fw4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#ausst4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#beso4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#serv4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#preis4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav ul {
	height: 20px;
	}
#nav li {
	display: inline;
	border-right: 1px #000 solid;
	border-left: none;
	border-bottom: none;
	border-top: none;
	padding: 0px 4px 0px 4px;
	}
#nav li:last-child {
	border-right: none;
	}
#nav li:first-child {
	padding-left: 0px
	}
#nav ul {
	margin-top: 30px;
	}
#preis_fw1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}


}