.footer {
  background-color: #ededed;
  padding: 20px 0;

  .flex-box {
    justify-content: space-between;
    height: 100%;

    .flex-item {
      align-self: center;
    }
  }

  p {
    font-size: 12px;
    margin-top: 1rem;
    color: #555;
  }

  a {
    color: #555;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
      color: theme-color("rot");
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    padding: 0;
  }
}
